<p>
    event-binding works!
</p>

<section>
    <button mat-button color="warn" (click)="save()" [disabled]="!btnEnable"> {{ buttonAction }} </button>
    <button mat-button color="warn" (click)="inc()" [disabled]="!btnEnable"> {{ buttonName }} </button>
</section>

<section>
    <button mat-button color="primary" [disabled]="!btnEnable"> {{ conteudoBotao1 }} </button>
    <button mat-button color="primary" [disabled]="!btnEnable"> {{ conteudoBotao2 }} </button>
    <button mat-button color="primary" (click)="disable()"> Disable </button>
    <mat-progress-spinner color="primary" [mode]="SpinnerMode" [value]="valueinc">
    </mat-progress-spinner>
</section>

<section>
    <p>
        <mat-checkbox value="" color="warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>
    </p>
</section>